---
layout: default
---
{{ content }}
<div class="zw-feed">
  {% assign prev_day = "" %}
  {% for post in paginator.posts %}
    {% assign day = post.date | date: "%Y-%m-%d" %}
    {% if day != prev_day %}
      {% include date-divider.html date=post.date %}
      {% assign prev_day = day %}
    {% endif %}
    {% include signal-card.html post=post %}
  {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<nav class="zw-pager" aria-label="Pagination">
  {% if paginator.previous_page %}
  <a class="zw-pager-link" href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer</a>
  {% else %}
  <span class="zw-pager-link zw-pager-disabled">&larr; Newer</span>
  {% endif %}
  <span class="zw-pager-status">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a class="zw-pager-link" href="{{ paginator.next_page_path | relative_url }}">Older &rarr;</a>
  {% else %}
  <span class="zw-pager-link zw-pager-disabled">Older &rarr;</span>
  {% endif %}
</nav>
{% endif %}
