---
layout: default
---
{{ content }}
{% include stat-strip.html %}
{% include filter-bar.html %}
<div class="zw-feed">
  {% assign groups = paginator.posts | group_by_exp: 'post', 'post.date | date: "%Y-%m-%d"' %}
  {% for group in groups %}
    {% include date-divider.html date=group.items.first.date count=group.items.size %}
    {% for post in group.items %}
      {% include signal-card.html post=post %}
    {% endfor %}
  {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<nav class="zw-pager" aria-label="Pagination">
  {% if paginator.previous_page %}
  <a class="zw-pager-link" href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer</a>
  {% else %}
  <span class="zw-pager-link zw-pager-disabled">&larr; Newer</span>
  {% endif %}
  <span class="zw-pager-status">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a class="zw-pager-link" href="{{ paginator.next_page_path | relative_url }}">Older &rarr;</a>
  {% else %}
  <span class="zw-pager-link zw-pager-disabled">Older &rarr;</span>
  {% endif %}
</nav>
{% endif %}
